@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,700;1,900&family=Alegreya:wght@500&family=Lobster&display=swap');

body {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.app__wrapper {
  display: flex;
  justify-content: flex-end;
  height: 100vh;
  border: 1px solid black;
}